
@{
    ViewBag.Title = "News";
}
<style>
    .well {
        background-color: rgba(245, 245, 245, 0.7);
    }
</style>

<h2>News from the world of Cray</h2>
<hr />
<div class="media">
    <div class="well">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/img/img1.jpg" alt="..." height="150">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Ezel seen in Ivankovićs shower</h3>
            We waren't shocked we knew he was gay
        </div>

        <hr />
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/img/img1.jpg" alt="..." height="150">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Ezel seen in Ivankovićs shower</h3>
            We waren't shocked we knew he was gay
        </div>

        <hr />
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/img/img1.jpg" alt="..." height="150">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Ezel seen in Ivankovićs shower</h3>
            We waren't shocked we knew he was gay
        </div>

        <hr />
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/img/img1.jpg" alt="..." height="150">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Ezel seen in Ivankovićs shower</h3>
            We waren't shocked we knew he was gay
        </div>

        <hr />
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/img/img1.jpg" alt="..." height="150">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Ezel seen in Ivankovićs shower</h3>
            We waren't shocked we knew he was gay
        </div>

        <hr />
    </div>
</div>

