
<style>
    body {
        background-image: url("http://localhost:4846/img/background.jpg");
    }

    .well {
        background-color: rgba(245, 245, 245, 0.7);
    }
</style>

<div class="container-fluid" id="myBody">
    <div class="well">
        <h2>
            New player?
        </h2>
        <p>
            In the world of Vanguard we alvays want new players. If your are a new player and want to know the rules to Vangaurd click <a href="#">here</a>
        </p>

        <h2>
            Forum Geek?
        </h2>
        <p>
            If you are here to communicate click <a href="#">here</a>
        </p>


        <h2>
            Want to know the latest news?
        </h2>
        <p>
            News from the world of Vangurd are right <a href="#">here</a>
        </p>
    </div>


</div>


